.form {
    &__steps {
        padding: 20px 0;
        background-color: $color-lgt-brown2;
        
        @include mq("tablet") {
            padding: 30px 0;
        }

        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            // margin-bottom: 9px;
            
            // @include mq("tablet") {
            //     margin-bottom: 23px;
            // }

            &.hide {
                display: none;
            }
        }

        &-box {
            display: flex;
            align-items: center;

            &:first-of-type {
                &::before {
                    content: none;
                }
            }

            &::before {
                content: "";
                display: block;
                width: 10px;
                height: 1px;
                // background-color: $color-lgt-brown;
                background-color: $color-brown2;

                @include mq("tablet") {
                    width: 40px;
                }
            }

            &.active {
                &::before {
                    height: 2px;
                    background-color: $color-brown2;
                }

                .form__steps-box-no {
                    color: $color-white;
                    background-color: $color-brown2;
                }

                .form__steps-box-sub {
                    display: flex;
                    position: relative;
                    isolation: isolate;

                    &::before {
                        background-color: $color-brown2;
                    }
                }

                &+.form__steps-box-end {
                    display: flex;
                }

                & ~ .form__steps-box {
                    &::before {
                        background-color: $color-lgt-brown;
                    }
                    
                    .form__steps-box-no {
                        border-color: $color-lgt-brown;
                        color: $color-lgt-brown;
                    }
                }
            }
            
            &-no {
                color: $color-brown2;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: 1px solid $color-brown2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                @include mq("tablet") {
                    width: 75px;
                    height: 75px;
                    border: 2px solid $color-brown2;
                }

                span {
                    color: inherit;
                    font-family: $font-secondary;
                    letter-spacing: 0.02em;

                    &:first-of-type {
                        font-size: 0.8rem;
                        margin-bottom: -3px;
                        
                        @include mq("tablet") {
                            font-size: 1.6rem;
                        }
                    }

                    &:last-of-type {
                        font-size: 2rem;
                        
                        @include mq("tablet") {
                            font-size: 3.4rem;
                        }
                    }
                }

                &+.form__steps-box-sub {
                    align-items: center;
                    justify-content: center;

                    span {
                        flex-basis: 13px;
                        width: 13px;
                        height: 13px;
                        border-radius: 50%;
                        border: 1px solid $color-lgt-brown;
                        position: relative;

                        &:first-of-type {
                            &::before {
                                content: none;
                            }
                        }
                        &:not(:first-of-type) {
                            margin-left: 7px;
                        }

                        &::before {
                            content: "";
                            display: block;
                            width: 8px;
                            height: 1px;
                            background-color: $color-lgt-brown;
                            position: absolute;
                            right: 100%;
                            top: 50%;
                            transform: translateY(-50%);
                            z-index: -1;
                        }
                        
                        &.active {
                            border: 1px solid $color-brown2;
                            background-color: $color-brown2;

                            &::before {
                                background-color: $color-brown2;
                            }
                        }
                    }
                }
            }

            &-sub {
                display: none;

                &::before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 1.5px;
                    background-color: $color-lgt-brown;
                }
            }

            &-end {
                display: none;
                align-items: center;
    
                &::before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 1.5px;
                    background-color: $color-lgt-brown;
                }

                span {
                    display: inline-block;
                    padding: 4px 3px 5px 5px;
                    color: $color-lgt-brown;
                    font-size: 1.3rem;
                    font-weight: 700;
                    border: 1px solid $color-gray-6;
                    border-radius: 3px;
                }
            }
        }

        &-desc {
            margin-top: 15px;
            &.hide {
                display: none;
            }
            
            &-text {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 11px;
                
                @include mq("tablet") {
                    gap: 14px;
                }

                &.hide{
                    display: none;
                }

                &.step1 {
                    p {
                        letter-spacing: -0.1em;
                    }
                }

                &>span {
                    font-family: $font-mincho;
                    color: $color-brown2;
                    font-size: 1.8rem;
                    font-weight: 700;
                    letter-spacing: 0.05em;
                    padding-right: 11px;
                    position: relative;
                    
                    @include mq("tablet") {
                        letter-spacing: unset;
                        font-size: 1.6rem;
                        padding-right: 15px;
                    }
    
                    &::after {
                        content: "";
                        display: inline-block;
                        width: 1px;
                        height: 16px;
                        background-color: $color-brown2;
                        position: absolute;
                        right: 0;
                        top: 55%;
                        transform: translateY(-50%);
                    }
                }
                
                p {
                    color: $color-brown2;
                    font-family: $font-mincho;
                    font-size: 2rem;
                    font-weight: 700;
                    letter-spacing: 0.05em;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    
                    @include mq("tablet") {
                        font-size: 3rem;
                    }
    
                    span {
                        font-size: 1.4rem;
                        font-weight: 400;
                        letter-spacing: 0.05em;
                        vertical-align: middle;
                        
                        @include mq("tablet") {
                            font-size: 1.8rem;
                        }
                    }
                }
            }


        }

        &-contact {
            // background-color: $color-lgt-brown2;
            // padding: 28px 0 32px;

            &.hide {
                display: none;
            }

            span {
                color: $color-org;
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: 0.05em;
                line-height: 1.5;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                
                @include mq("tablet") {
                    font-size: 3rem;
                    line-height: 1.25;
                    margin-bottom: 5px;
                }

                &::before,
                &::after {
                    content: "";
                    display: block;
                    width: 13px;
                    height: 1px;
                    background-color: $color-brown2;
                    
                    @include mq("tablet") {
                        width: 20px;
                    }
                }
            }

            p {
                color: $color-org;
                font-size: 1rem;
                font-weight: 700;
                line-height: 2.4;
                letter-spacing: 0.05em;
                text-align: center;
                
                @include mq("tablet") {
                    font-size: 1.6rem;
                    line-height: 2;
                }
            }
        }
    }
}