.title {
    .w-flex{
        display: flex;
        flex-direction: row;
        align-items: center;
        @include mq("tablet") {
            flex-direction: column;
        }
    }
    .heading-scd {
        margin-top: -13px;
        display: none;

        &>p {
            font-size: 4.5rem;
            line-height: 1.33;

            &>span {
                &::before {
                    top: 3px;
                    left: 23px;
                    width: 3px;
                    height: 3px;
                }
            }
        }
        @include mq("tablet") {
            display: block;
        }
    }

    .heading-trd {
        text-align: center;
        font-family: $font-mincho;
        font-size: 1.7rem;
        line-height: 2;
        font-weight: 400;

        @include mq("tablet") {
            font-size: 2.8rem;
            line-height: 1.71;
        }
    }
}

.complete {
    &__block {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
        padding-block: 61px 0px;
        @include mq("tablet") {
            padding-block: 81px;
        }
    }

    &-ttl {
        padding-block: 35px 20px;
        text-align: center;
        background-color: $color-lgt-brown2;
        position: relative;
        .d-sm-block {
            display: block;
        }
        @include mq("tablet") {
            font-size: 2.5rem;
            line-height: 1.6;
        }

        &>h2 {
            font-family: $font-mincho;
            font-size: 2rem;
            line-height: 1.4;
            font-weight: 400;
            @include mq("tablet") {
                font-size: 2.5rem;
                line-height: 1.6;
            }
        }

        &>span {
            font-family: $font-kaku;
            font-weight: 600;
            color: $color-white;
            font-size: 2.1rem;
            line-height: 1.5;
            background-color: $color-red;
            border-radius: 5px;
            padding: 7px 7px 8px 13px;
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
            @include mq("tablet") {
                padding: 8px 15px;
                font-size: 2.4rem;
            }
        }
    }

    &-img{
        margin-block: 19px 30px;
        text-align: center;
        img{
            width: 301px;
        }
        @include mq("tablet") {
            margin-block: 13px 40px;
            img{
                width: 455px;
            }
        }
    }

    &-list{
        max-width: 321px;
        width: 100%;
        margin: 0 auto;
        &>li{
            font-size: 1.4rem;
            line-height: 1.7;
            font-weight: 400;
            list-style-type: disc;
            margin-bottom: 30px;
            margin-left: 15px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        @include mq("tablet") {
            max-width: 640px;
            &>li{
                font-size: 1.6rem;
                line-height: 1.5;
                margin-bottom: 15px;
                margin-left: 20px;
            }
        }
    }
}