// font-family
$font-primary: 'Noto Sans JP', sans-serif;
$font-secondary: 'Instrument Serif', serif;
$font-tertiary: 'Plus Jakarta Sans', sans-serif;
$font-mincho: 'Zen Old Mincho', serif;
$font-kiwi: 'Kiwi Maru', serif;
$font-kaku: "hiragino-kaku-gothic-pron", sans-serif;

// colors
$color-primary: #C1A760;
$color-secondary: #4ac1ff;

$color-white: #ffffff;
$color-black: #333333;
$color-black2: #222222;
$color-white-2: #F7F4F2;

$color-gray: #666;
$color-gray-2: #eeeeee;
$color-gray-3: #F4F2F0;
$color-gray-4: #838383;
$color-gray-5: #707070;
$color-gray-6: #D0D0D0;
$color-lgt-gray: #939393;
$color-lgt-gray-2: #CCCCCC;
$color-lgt-brown: #DDD7CF;
$color-lgt-brown2: #F9F8F7;
$color-brown: #AF9F82;
$color-brown2: #B19D7E;
$color-drk-brown: #4f4f4f;

$color-blue: #1534f3;

$color-green: #82d907;
$color-green2: #70A55B;

$color-red: #BA4F4F;
$color-red-2: #E66A6A;
$color-red-3: #CC3636;
$color-lgt-red: #DD7A7A;
$color-lgt-red-2: #D14040;
$color-lgt-red-3: #D33B3B;
$color-lgt-red-4: #ED7373;
$color-lgt-red-5: #BE967D;

$color-pink: #EB88A2;

$color-org: #B19D7F;
$color-org02: #B7963E;


$color-yellow: rgba(248, 182, 0, 0.3);
$color-yellow2: rgba(195, 199, 89, 0.2);

$color-cream: #F8F4F0;
$color-lgt-cream: #F7F2EA;